@mixin print {
  @media only print {
    @content;
  }
}

.ssp-research-banner {
  background-color: $govuk-brand-colour;
  padding: 1em;

  @include print {
    display: none;
  }

  &--heading {
    color: govuk-colour("white");
    font-weight: 700;
  }

  &--content {
    width: 100%;
    margin-bottom: 1em;

    @include govuk-media-query($from: desktop) {
      display: inline-block;
      width: 80%;
      margin-bottom: 0;
    }
  }

  &--invitation {
    color: govuk-colour("white");
  }

  &--link {
    color: govuk-colour("white");

    &:link {
      color: govuk-colour("white") !important;
    }

    &:focus {
      color: $govuk-text-colour !important;
    }

    &:visited {
      color: govuk-colour("white");
    }
  }

  &__button-container {
    @include govuk-media-query($from: desktop) {
      width: 20%;
      float: right;
      text-align: right;
    }

    display: none;

    .js-enabled & {
      display: block;
    }
  }

  &__button {
    @include govuk-media-query($from: tablet) {
      font-size: 19px;
      font-size: 1.1875rem;
    }

    font-size: 16px;
    font-size: 1rem;
    padding: 0;
    background: none;
    border: none;
    box-shadow: none;
    cursor: pointer;
    color: govuk-colour("white");
    text-decoration: underline;

    &:hover {
      background: none;
      text-decoration: underline;
    }
  }
}
