<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
   <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/trader-services-26-frontend.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date{ISO8601} level=[%level] logger=[%logger] thread=[%thread] message=[%message] %replace(exception=[%xException]){'^exception=\[\]$',''}%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date{ISO8601} level=[%level] logger=[%logger] thread=[%thread] rid=[%X{X-Request-ID}] user=[%X{Authorization}] message=[%message] %replace(exception=[%xException]){'^exception=\[\]$',''}%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT_IGNORE_NETTY" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date{ISO8601} level=[%level] logger=[%logger] thread=[%thread] rid=[not-available] user=[not-available] message=[%message] %replace(exception=[%xException]){'^exception=\[\]$',''}%n</pattern>
        </encoder>
    </appender>

    <appender name="ACCESS_LOG_FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/access.log</file>
        <encoder>
            <pattern>%message%n</pattern>
        </encoder>
    </appender>

    <appender name="CONNECTOR_LOG_FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/connector.log</file>
        <encoder>
            <pattern>%message%n</pattern>
        </encoder>
    </appender>


    <logger name="accesslog" level="INFO" additivity="false">
        <appender-ref ref="ACCESS_LOG_FILE" />
    </logger>

    <logger name="com.ning.http.client.providers.netty" additivity="false">
        <appender-ref ref="STDOUT_IGNORE_NETTY" />
    </logger>

    <logger name="application" level="ERROR"/>

    <logger name="uk.gov" level="INFO"/>

    <logger name="uk.gov.hmrc.play.bootstrap" level="ERROR"/>

    <logger name="play" level="WARN"/>

    <logger name="play.api.internal" level="ERROR"/>

    <logger name="play.core" level="ERROR"/>

    <logger name="uk.gov.hmrc.audit" level="ERROR"/>

    <logger name="uk.gov.hmrc.traderservices" level="INFO"/>

    <logger name="uk.gov.hmrc.traderservices.repository" level="ERROR"/>

    <logger name="akka" level="ERROR"/>

    <logger name="reactivemongo" level="ERROR"/>

    <logger name="uk.gov.hmrc.mongo.play" level="ERROR"/>

    <logger name="org.asynchttpclient" level="ERROR"/>

    <logger name="org.eclipse.jetty" level="ERROR"/>

    <logger name="com.google.inject" level="ERROR"/>

    <logger name="connector" level="ERROR">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="ERROR">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>