* {
	font-family: sans-serif;
	color: #000;
}

/* Hide unnecessary elements */
footer,
.govuk-skip-link,
.govuk-back-link,
.govuk-phase-banner,
.print-document-header,
.hmrc-language-select,
.ssp-research-banner,
.hmrc-sign-out-nav {
	display: none;
}
