.print-page-break--before {
    page-break-before: always;
}

.govuk-grid-column-one-third,
.govuk-grid-column-two-thirds {
    width: 33.3333%;
    float: left;
}
.govuk-grid-column-two-thirds {
    width: 66.6666%
}

.print-document {
    width: 210mm;

	.govuk-grid-column-one-quarter,
	.govuk-grid-column-three-quarters {
        width: 25%;
        float: left;
	}
	.govuk-grid-column-three-quarters {
		width: 75%;
	}
	.govuk-\!-width-two-thirds {
	    width: 66.66% !important;
	}
	.govuk-grid-row {
		clear: both;
		padding: 10px 0;
		overflow: hidden;
	}

    .print-header {
        margin-bottom: 10px;
    }

    h2,
    h3,
    h4 {
        margin-top: 0;
    }

    .print-hmrc-logo {
        display: block;
        font-size: 1.1875rem;
        margin: 5px 0 0;
        line-height: 1.1;
        font-weight: 600;
    }

    .print-service-name {
        display: block;
        text-align: right;
        margin-top: 2em;
        font-size: 1.2em;
        color: #00703C;
        font-weight: 600;
    }

    .govuk-heading-m {
        color: #0b0c0c;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: 700;
        font-size: 20px;
        font-size: 1.15rem;
        line-height: 1.11111;
        display: block;
        margin-top: 0;
        margin-bottom: 15px;
    }

    .govuk-heading-s {
        color: #0b0c0c;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: 700;
        font-size: 16px;
        font-size: 1rem;
        line-height: 1.25;
        display: block;
        margin-top: 0;
        margin-bottom: 15px;
    }

    .govuk-\!-margin-top-3 {
        margin-top: 15px !important;
    }
    .govuk-\!-margin-bottom-0 {
        margin-bottom: 0;
    }
    .govuk-\!-margin-bottom-1 {
        margin-bottom: 5px !important;
    }
    .govuk-\!-margin-top-0 {
        margin-top: 0;
    }
    .govuk-\!-margin-top-1 {
        margin-top: 5px !important;
    }
    .govuk-\!-margin-bottom-3 {
        margin-bottom: 15px !important;
    }
    .govuk-\!-margin-top-6 {
        margin-top: 30px !important;
    }

	.print-document__information-box {
    border: 2px solid #00703C;
    display: block;
    margin-bottom: 1em;
    padding: 5mm;
    width: 100%;
    background-color: #e1f3f1;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    -webkit-print-color-adjust: exact
	}

	.govuk-summary-list {
    display: table;
    width: 100%;
    table-layout: fixed;
    line-height: 1.31579;
	}
	.govuk-summary-list__row {
    display: table-row;
    line-height: 1.31579;
	}
	.govuk-summary-list__key {
    margin-bottom: 5px;
    font-weight: 700;
	}
	.govuk-summary-list__key, .govuk-summary-list__value {
    word-wrap: break-word;
    overflow-wrap: break-word;
	}
	.multi-summary-list__row {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #b1b4b6;
	}
	.govuk-summary-list__key, .govuk-summary-list__value, .govuk-summary-list__actions {
    display: table-cell;
    padding-right: 20px;
	}
	.govuk-summary-list__value:last-child {
    width: 70%;
	}

    .govuk-list--bullet>li, .govuk-list--number>li {
        margin-bottom: 5px;
    }

}
