// Overrides for GOV UK frontend CSS rules

// Show red border around a focused field with error
.govuk-input--error {
  border: $govuk-border-width-form-element-error solid $govuk-error-colour !important;

  &:focus {
    border-color: $govuk-input-border-colour;
  }
}

// Make the file input more accessible to screen magnifiers
.govuk-file-upload {
  width: 100%;
}

// Make nested html elements in hints grey
.govuk-hint * {
  color: $govuk-secondary-text-colour;
}

// Improve the appearance of date input combo
.app-time-input .govuk-date-input__item:first-of-type {
  margin-right: 0;

  .govuk-form-group::after {
    display: inline-block;
    margin-left: 6px;
    margin-right: 6px;
    font-size: 30px;
    font-size: 1.875rem;
    content: ":";
  }
}

// Fix to prevent the reference number from overflowing on smaller screens
.app-reference-number {
  font-family: Monaco, Consolas, "Courier New", "GDS Transport" !important;

  // Using a custom breakpoint value because govuk desktop breakpoint is at 769px and it wasn't enough to fix the issue (DOR-194)
  @include govuk-media-query($until: 1019px) {
    @include govuk-font($size: 24, $weight: 'bold');
    word-break: break-all;
  }
}

.case-reference-number{
  font-family: Monaco, Consolas, "Courier New", "GDS Transport" !important;
  font-size: 1.1rem;
  
}