// Overrides for GOV UK frontend CSS rules

.govuk-button + .govuk-button--secondary {
  @include govuk-media-query($from: tablet) {
    margin-left: 10px;
  }
}

.govuk-input--error {
  border: $govuk-border-width-form-element-error solid $govuk-error-colour !important;

  &:focus {
    border-color: $govuk-input-border-colour;
  }
}

.govuk-file-upload {
  width: 100%;
}

.govuk-hint * {
  color: $govuk-secondary-text-colour;
}

.app-time-input .govuk-date-input__item:first-of-type {
  margin-right: 0;

  .govuk-form-group::after {
    display: inline-block;
    margin-left: 6px;
    margin-right: 6px;
    font-size: 30px;
    content: ":";
  }
}

.app-reference-number {
  // Using a custom breakpoint value because govuk desktop breakpoint is at 769px and it wasn't enough to fix the issue (DOR-194)
  @include govuk-media-query($until: 1019) {
    @include govuk-font($size: 24);
    font-weight: bold;
  }
}
